$bg-color:rgb(255, 255, 255);
$addtasksbtn:#66CBEB;
$CreateMealPlan:#8BC63E;
$black:#000000;
$SendQuestionairre:#1E7FCC;
$searchbg:#DCF3FB;
$tabbg:rgba(33, 150, 243, 0.1);
$tabactivecolor:#2196F3;
$inpulfieldicon:#cccccc;
$boxbg:#f6f6f6;
$tabmultiact: rgba(76, 175, 80, 0.1);
$fitnessplane:#57A973;
$fitnessview:#EA3696;
$fitnessweightloss:rgba(87, 169, 115, 0.2);
$fitnesslifestylecard:rgba(194, 207, 224, 0.4);
$fitnessstrengthcard:rgba(155, 231, 161, 0.55);
$fitnessintensitycard:rgba(252, 183, 141, 0.7);
$fitnesscardiocard:rgba(251, 222, 118, 0.42);