$bg-color:rgb(255, 255, 255);
$addtasksbtn:#66CBEB;
$CreateMealPlan:#8BC63E;
$black:#000000;
$SendQuestionairre:#1E7FCC;
$searchbg:#DCF3FB;
$tabbg:rgba(33, 150, 243, 0.1);
$tabactivecolor:#2196F3;
$inpulfieldicon:#cccccc;
$boxbg:#f6f6f6;
$tabmultiact: rgba(76, 175, 80, 0.1);